.container {
  width: 100%;
}

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headshot {
  width: min(18rem, 100%);
}
