.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
  width: min(22rem, 75vw);
  height: 30rem;
  padding: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.container:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px;
}

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 25rem;
  overflow-y: hidden;
}
