.container {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding-bottom: 1.2rem;
}

@media (max-width: 30rem) {
  .container {
    width: 100%;
  }
}

.button {
  cursor: pointer;
}

.display {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
