.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 25rem;
  padding-bottom: 1.2rem;
}


.pdfViewer {
  /* width: min(120rem, 100%); */
  width: min(65rem, 100%);
  height: auto;
}

.download {
  cursor: pointer;
}
