.box {
  /* width: 100%; */
  height: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--back-color);
  color: var(--text-color);
  padding-left: min(5%, 10rem);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  width: 100%;
}
