.container {
  width: 100%;
}

.search-container {
  /* width: 100%; */
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list {
  padding-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
  gap: 10px; /* Adjust spacing between items */
  max-height: 13rem;
  overflow-y: auto;
}
.list-item {
  text-align: center;
  /* flex: 1; */
}
